@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Oswald&family=Staatliches&display=swap');

/*General*/

:root {
    --main-color: #000000;
    --secondary-color: #FFFFFF;
    --brand-color: #D9931A;
    --accent-color-bright: #B1B6BC;
    --accent-color-dark: #42433E;
    --background-color-alt: #F7F7F7;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    max-width: 1903px;
    margin: auto;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

p {
    line-height: 150%;
}

h1 {
    font-family: 'Staatliches', sans-serif;
    font-size: 31px;
    text-transform: uppercase;
    color: var(--secondary-color);
}

h2 {
    font-family: 'Staatliches', sans-serif;
    font-size: 44px;
    text-transform: uppercase;
}

h3 {
    font-family: 'Staatliches', sans-serif;
    font-size: 38px;
    text-transform: uppercase;
}

h4 {
    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}


/*Header*/


header {
    background-color: var(--main-color);
    height: 91px;
    display: flex;
    justify-content: space-around;
    /*make less spaced*/
    align-items: center;
    /*sliding header?*/
}

header .logo {
    min-width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 51px;
    height: 51px;
    /*Бо розтягувало, може є інший спосіб?*/
}

header nav.menu {
    display: block;
}

header .menu a {
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    color: var(--secondary-color);
    transition: color 150ms linear;
    text-decoration: none;
    margin: 5px;
}
header .menu a:hover {
    color: var(--brand-color);
    transition: color 150ms linear;
    /*smooth color transition, ok?*/

}


/*Body*/

section {
    /*max-width: 1200px; How to set this to width of content*/
    margin: auto;
}
/*Cover*/

#cover {
    /*Всупереч рядками вище - зробити окремі контейнери для тексту в яких той макс відтс поставити?*/
    min-height: 700px;
    background: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)), url(../img/engineBay_cover.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
#slide1 {
    /*make height same as parent*/
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#slide1-text {
    text-align: center;
    display: block;
    /*space elements evenly*/
}

.primary-button {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--secondary-color);
    background-color: var(--brand-color);
    text-decoration: none;
    border-radius: 3px;
    transition: color 150ms linear;
    transition: background-color 150ms linear;
    padding: 15px 50px 15px 50px;
}

.primary-button:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
    /*transition: color 150ms linear;*/
}

#cover h2, h3 {
    color: var(--secondary-color);
}
#cover h2 {
    font-size: 94px;
}

@media (min-width: 660px){

}

/*About*/



#about h2, p{
    text-align: center;
}

#about p{
    max-width: 770px;
    margin: auto;
}

/*Services*/

#services {
    background-color: var(--background-color-alt);
}